@font-face {
    font-family: 'hawcon';
    src:    url('fonts/hawcon.eot?w05v23');
    src:    url('fonts/hawcon.eot?w05v23#iefix') format('embedded-opentype'),
        url('fonts/hawcon.ttf?w05v23') format('truetype'),
        url('fonts/hawcon.woff?w05v23') format('woff'),
        url('fonts/hawcon.svg?w05v23#hawcon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.hc {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'hawcon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    display: inline-block;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hc-mail-envelope:before {
    content: "\e900";
}
.hc-mail-envelope2:before {
    content: "\e901";
}
.hc-mail-envelope-open:before {
    content: "\e902";
}
.hc-mail-envelope-open2:before {
    content: "\e903";
}
.hc-mail-envelope-closed:before {
    content: "\e904";
}
.hc-mail-envelope-closed2:before {
    content: "\e905";
}
.hc-mail-envelope-open3:before {
    content: "\e906";
}
.hc-mail-envelope-open4:before {
    content: "\e907";
}
.hc-mail-envelope-open5:before {
    content: "\e908";
}
.hc-mail-envelope-open6:before {
    content: "\e909";
}
.hc-mail-envelope-closed3:before {
    content: "\e90a";
}
.hc-mail-envelope-closed4:before {
    content: "\e90b";
}
.hc-mail-envelope-open7:before {
    content: "\e90c";
}
.hc-mail-envelope-open8:before {
    content: "\e90d";
}
.hc-mail-error:before {
    content: "\e90e";
}
.hc-mail-error2:before {
    content: "\e90f";
}
.hc-mail-checked:before {
    content: "\e910";
}
.hc-mail-checked2:before {
    content: "\e911";
}
.hc-mail-cancel:before {
    content: "\e912";
}
.hc-mail-cancel2:before {
    content: "\e913";
}
.hc-mail--forbidden:before {
    content: "\e914";
}
.hc-mail--forbidden2:before {
    content: "\e915";
}
.hc-mail-add:before {
    content: "\e916";
}
.hc-mail-add2:before {
    content: "\e917";
}
.hc-mail-remove:before {
    content: "\e918";
}
.hc-mail-remove2:before {
    content: "\e919";
}
.hc-flag:before {
    content: "\e91a";
}
.hc-flag2:before {
    content: "\e91b";
}
.hc-flag3:before {
    content: "\e91c";
}
.hc-flag4:before {
    content: "\e91d";
}
.hc-flag5:before {
    content: "\e91e";
}
.hc-flag6:before {
    content: "\e91f";
}
.hc-flag7:before {
    content: "\e920";
}
.hc-flag8:before {
    content: "\e921";
}
.hc-bookmark:before {
    content: "\e922";
}
.hc-bookmark2:before {
    content: "\e923";
}
.hc-bookmark-add:before {
    content: "\e924";
}
.hc-bookmark-add2:before {
    content: "\e925";
}
.hc-bookmark-remove:before {
    content: "\e926";
}
.hc-bookmark-remove2:before {
    content: "\e927";
}
.hc-eye-hidden:before {
    content: "\e928";
}
.hc-eye-hidden2:before {
    content: "\e929";
}
.hc-eye:before {
    content: "\e92a";
}
.hc-eye2:before {
    content: "\e92b";
}
.hc-star:before {
    content: "\e92c";
}
.hc-star2:before {
    content: "\e92d";
}
.hc-key:before {
    content: "\e92e";
}
.hc-key2:before {
    content: "\e92f";
}
.hc-key3:before {
    content: "\e930";
}
.hc-key4:before {
    content: "\e931";
}
.hc-trash-can:before {
    content: "\e932";
}
.hc-trash-can2:before {
    content: "\e933";
}
.hc-trash-can3:before {
    content: "\e934";
}
.hc-trash-can4:before {
    content: "\e935";
}
.hc-information:before {
    content: "\e936";
}
.hc-information2:before {
    content: "\e937";
}
.hc-information3:before {
    content: "\e938";
}
.hc-information4:before {
    content: "\e939";
}
.hc-book:before {
    content: "\e93a";
}
.hc-book2:before {
    content: "\e93b";
}
.hc-book-bookmark:before {
    content: "\e93c";
}
.hc-book-bookmark2:before {
    content: "\e93d";
}
.hc-clipboard-edit:before {
    content: "\e93e";
}
.hc-clipboard-edit2:before {
    content: "\e93f";
}
.hc-clipboard-add:before {
    content: "\e940";
}
.hc-clipboard-add2:before {
    content: "\e941";
}
.hc-clipboard-remove:before {
    content: "\e942";
}
.hc-clipboard-remove2:before {
    content: "\e943";
}
.hc-clipboard:before {
    content: "\e944";
}
.hc-clipboard2:before {
    content: "\e945";
}
.hc-clipboard-download:before {
    content: "\e946";
}
.hc-clipboard-download2:before {
    content: "\e947";
}
.hc-clipboard-upload:before {
    content: "\e948";
}
.hc-clipboard-upload2:before {
    content: "\e949";
}
.hc-clipboard-checked:before {
    content: "\e94a";
}
.hc-clipboard-checked2:before {
    content: "\e94b";
}
.hc-clipboard-text:before {
    content: "\e94c";
}
.hc-clipboard-text2:before {
    content: "\e94d";
}
.hc-clipboard-list:before {
    content: "\e94e";
}
.hc-clipboard-list2:before {
    content: "\e94f";
}
.hc-note:before {
    content: "\e950";
}
.hc-note2:before {
    content: "\e951";
}
.hc-note-add:before {
    content: "\e952";
}
.hc-note-add2:before {
    content: "\e953";
}
.hc-note-remove:before {
    content: "\e954";
}
.hc-note-remove2:before {
    content: "\e955";
}
.hc-note-text:before {
    content: "\e956";
}
.hc-note-text2:before {
    content: "\e957";
}
.hc-note-list:before {
    content: "\e958";
}
.hc-note-list2:before {
    content: "\e959";
}
.hc-note-checked:before {
    content: "\e95a";
}
.hc-note-checked2:before {
    content: "\e95b";
}
.hc-note-important:before {
    content: "\e95c";
}
.hc-note-important2:before {
    content: "\e95d";
}
.hc-notebook:before {
    content: "\e95e";
}
.hc-notebook2:before {
    content: "\e95f";
}
.hc-notebook3:before {
    content: "\e960";
}
.hc-notebook4:before {
    content: "\e961";
}
.hc-notebook5:before {
    content: "\e962";
}
.hc-notebook6:before {
    content: "\e963";
}
.hc-notebook7:before {
    content: "\e964";
}
.hc-notebook8:before {
    content: "\e965";
}
.hc-notebook-text:before {
    content: "\e966";
}
.hc-notebook-text2:before {
    content: "\e967";
}
.hc-notebook-list:before {
    content: "\e968";
}
.hc-notebook-list2:before {
    content: "\e969";
}
.hc-document:before {
    content: "\e96a";
}
.hc-document2:before {
    content: "\e96b";
}
.hc-document-text:before {
    content: "\e96c";
}
.hc-document-text2:before {
    content: "\e96d";
}
.hc-document-text3:before {
    content: "\e96e";
}
.hc-document-text4:before {
    content: "\e96f";
}
.hc-document-download:before {
    content: "\e970";
}
.hc-document-download2:before {
    content: "\e971";
}
.hc-document-upload:before {
    content: "\e972";
}
.hc-document-upload2:before {
    content: "\e973";
}
.hc-document-bookmark:before {
    content: "\e974";
}
.hc-document-bookmark2:before {
    content: "\e975";
}
.hc-document-diagrams:before {
    content: "\e976";
}
.hc-document-diagrams2:before {
    content: "\e977";
}
.hc-document-recording:before {
    content: "\e978";
}
.hc-document-recording2:before {
    content: "\e979";
}
.hc-document-table:before {
    content: "\e97a";
}
.hc-document-table2:before {
    content: "\e97b";
}
.hc-document-music:before {
    content: "\e97c";
}
.hc-document-music2:before {
    content: "\e97d";
}
.hc-document-movie:before {
    content: "\e97e";
}
.hc-document-movie2:before {
    content: "\e97f";
}
.hc-document-play:before {
    content: "\e980";
}
.hc-document-play2:before {
    content: "\e981";
}
.hc-document-graph:before {
    content: "\e982";
}
.hc-document-graph2:before {
    content: "\e983";
}
.hc-document-time:before {
    content: "\e984";
}
.hc-document-time2:before {
    content: "\e985";
}
.hc-document-text5:before {
    content: "\e986";
}
.hc-document-text6:before {
    content: "\e987";
}
.hc-document-code:before {
    content: "\e988";
}
.hc-document-code2:before {
    content: "\e989";
}
.hc-document-cloud:before {
    content: "\e98a";
}
.hc-document-cloud2:before {
    content: "\e98b";
}
.hc-documents:before {
    content: "\e98c";
}
.hc-documents2:before {
    content: "\e98d";
}
.hc-documents3:before {
    content: "\e98e";
}
.hc-documents4:before {
    content: "\e98f";
}
.hc-document-search:before {
    content: "\e990";
}
.hc-document-search2:before {
    content: "\e991";
}
.hc-document-star:before {
    content: "\e992";
}
.hc-document-star2:before {
    content: "\e993";
}
.hc-document-unlocked:before {
    content: "\e994";
}
.hc-document-unlocked2:before {
    content: "\e995";
}
.hc-document-locked:before {
    content: "\e996";
}
.hc-document-locked2:before {
    content: "\e997";
}
.hc-document-error:before {
    content: "\e998";
}
.hc-document-error2:before {
    content: "\e999";
}
.hc-document-cancel:before {
    content: "\e99a";
}
.hc-document-cancel2:before {
    content: "\e99b";
}
.hc-document-checked:before {
    content: "\e99c";
}
.hc-document-checked2:before {
    content: "\e99d";
}
.hc-document-add:before {
    content: "\e99e";
}
.hc-document-add2:before {
    content: "\e99f";
}
.hc-document-remove:before {
    content: "\e9a0";
}
.hc-document-remove2:before {
    content: "\e9a1";
}
.hc-document-forbidden:before {
    content: "\e9a2";
}
.hc-document-forbidden2:before {
    content: "\e9a3";
}
.hc-document-information:before {
    content: "\e9a4";
}
.hc-document-information2:before {
    content: "\e9a5";
}
.hc-folder-information:before {
    content: "\e9a6";
}
.hc-folder-information2:before {
    content: "\e9a7";
}
.hc-document-list:before {
    content: "\e9a8";
}
.hc-document-list2:before {
    content: "\e9a9";
}
.hc-document-font:before {
    content: "\e9aa";
}
.hc-document-font2:before {
    content: "\e9ab";
}
.hc-inbox:before {
    content: "\e9ac";
}
.hc-inbox2:before {
    content: "\e9ad";
}
.hc-inboxes:before {
    content: "\e9ae";
}
.hc-inboxes2:before {
    content: "\e9af";
}
.hc-inbox-document:before {
    content: "\e9b0";
}
.hc-inbox-document2:before {
    content: "\e9b1";
}
.hc-inbox-document-text:before {
    content: "\e9b2";
}
.hc-inbox-document-text2:before {
    content: "\e9b3";
}
.hc-inbox-download:before {
    content: "\e9b4";
}
.hc-inbox-download2:before {
    content: "\e9b5";
}
.hc-inbox-upload:before {
    content: "\e9b6";
}
.hc-inbox-upload2:before {
    content: "\e9b7";
}
.hc-folder:before {
    content: "\e9b8";
}
.hc-folder2:before {
    content: "\e9b9";
}
.hc-folder3:before {
    content: "\e9ba";
}
.hc-folder4:before {
    content: "\e9bb";
}
.hc-folders:before {
    content: "\e9bc";
}
.hc-folders2:before {
    content: "\e9bd";
}
.hc-folder-download:before {
    content: "\e9be";
}
.hc-folder-download2:before {
    content: "\e9bf";
}
.hc-folder-upload:before {
    content: "\e9c0";
}
.hc-folder-upload2:before {
    content: "\e9c1";
}
.hc-folder-unlocked:before {
    content: "\e9c2";
}
.hc-folder-unlocked2:before {
    content: "\e9c3";
}
.hc-folder-locked:before {
    content: "\e9c4";
}
.hc-folder-locked2:before {
    content: "\e9c5";
}
.hc-folder-search:before {
    content: "\e9c6";
}
.hc-folder-search2:before {
    content: "\e9c7";
}
.hc-folder-error:before {
    content: "\e9c8";
}
.hc-folder-error2:before {
    content: "\e9c9";
}
.hc-folder-cancel:before {
    content: "\e9ca";
}
.hc-folder-cancel2:before {
    content: "\e9cb";
}
.hc-folder-checked:before {
    content: "\e9cc";
}
.hc-folder-checked2:before {
    content: "\e9cd";
}
.hc-folder-add:before {
    content: "\e9ce";
}
.hc-folder-add2:before {
    content: "\e9cf";
}
.hc-folder-remove:before {
    content: "\e9d0";
}
.hc-folder-remove2:before {
    content: "\e9d1";
}
.hc-folder-forbidden:before {
    content: "\e9d2";
}
.hc-folder-forbidden2:before {
    content: "\e9d3";
}
.hc-folder-bookmark:before {
    content: "\e9d4";
}
.hc-folder-bookmark2:before {
    content: "\e9d5";
}
.hc-document-zip:before {
    content: "\e9d6";
}
.hc-document-zip2:before {
    content: "\e9d7";
}
.hc-zip:before {
    content: "\e9d8";
}
.hc-zip2:before {
    content: "\e9d9";
}
.hc-search:before {
    content: "\e9da";
}
.hc-search2:before {
    content: "\e9db";
}
.hc-search-plus:before {
    content: "\e9dc";
}
.hc-search-plus2:before {
    content: "\e9dd";
}
.hc-search-minus:before {
    content: "\e9de";
}
.hc-search-minus2:before {
    content: "\e9df";
}
.hc-lock:before {
    content: "\e9e0";
}
.hc-lock2:before {
    content: "\e9e1";
}
.hc-lock-open:before {
    content: "\e9e2";
}
.hc-lock-open2:before {
    content: "\e9e3";
}
.hc-lock-open3:before {
    content: "\e9e4";
}
.hc-lock-open4:before {
    content: "\e9e5";
}
.hc-lock-stripes:before {
    content: "\e9e6";
}
.hc-lock-stripes2:before {
    content: "\e9e7";
}
.hc-lock-rounded:before {
    content: "\e9e8";
}
.hc-lock-rounded2:before {
    content: "\e9e9";
}
.hc-lock-rounded-open:before {
    content: "\e9ea";
}
.hc-lock-rounded-open2:before {
    content: "\e9eb";
}
.hc-lock-rounded-open3:before {
    content: "\e9ec";
}
.hc-lock-rounded-open4:before {
    content: "\e9ed";
}
.hc-combination-lock:before {
    content: "\e9ee";
}
.hc-combination-lock2:before {
    content: "\e9ef";
}
.hc-printer:before {
    content: "\e9f0";
}
.hc-printer2:before {
    content: "\e9f1";
}
.hc-printer3:before {
    content: "\e9f2";
}
.hc-printer4:before {
    content: "\e9f3";
}
.hc-printer-text:before {
    content: "\e9f4";
}
.hc-printer-text2:before {
    content: "\e9f5";
}
.hc-printer-text3:before {
    content: "\e9f6";
}
.hc-printer-text4:before {
    content: "\e9f7";
}
.hc-document-shred:before {
    content: "\e9f8";
}
.hc-document-shred2:before {
    content: "\e9f9";
}
.hc-shredder:before {
    content: "\e9fa";
}
.hc-shredder2:before {
    content: "\e9fb";
}
.hc-document-scan:before {
    content: "\e9fc";
}
.hc-document-scan2:before {
    content: "\e9fd";
}
.hc-cloud-download:before {
    content: "\e9fe";
}
.hc-cloud-download2:before {
    content: "\e9ff";
}
.hc-cloud-upload:before {
    content: "\ea00";
}
.hc-cloud-upload2:before {
    content: "\ea01";
}
.hc-cloud-error:before {
    content: "\ea02";
}
.hc-cloud-error2:before {
    content: "\ea03";
}
.hc-cloud:before {
    content: "\ea04";
}
.hc-cloud2:before {
    content: "\ea05";
}
.hc-inbox-filled:before {
    content: "\ea06";
}
.hc-inbox-filled2:before {
    content: "\ea07";
}
.hc-pen:before {
    content: "\ea08";
}
.hc-pen2:before {
    content: "\ea09";
}
.hc-pen-angled:before {
    content: "\ea0a";
}
.hc-pen-angled2:before {
    content: "\ea0b";
}
.hc-document-edit:before {
    content: "\ea0c";
}
.hc-document-edit2:before {
    content: "\ea0d";
}
.hc-document-certificate:before {
    content: "\ea0e";
}
.hc-document-certificate2:before {
    content: "\ea0f";
}
.hc-certificate:before {
    content: "\ea10";
}
.hc-certificate2:before {
    content: "\ea11";
}
.hc-package:before {
    content: "\ea12";
}
.hc-package2:before {
    content: "\ea13";
}
.hc-box:before {
    content: "\ea14";
}
.hc-box2:before {
    content: "\ea15";
}
.hc-box-filled:before {
    content: "\ea16";
}
.hc-box-filled2:before {
    content: "\ea17";
}
.hc-box3:before {
    content: "\ea18";
}
.hc-box4:before {
    content: "\ea19";
}
.hc-box5:before {
    content: "\ea1a";
}
.hc-box6:before {
    content: "\ea1b";
}
.hc-box-bookmark:before {
    content: "\ea1c";
}
.hc-box-bookmark2:before {
    content: "\ea1d";
}
.hc-tag-cord:before {
    content: "\ea1e";
}
.hc-tag-cord2:before {
    content: "\ea1f";
}
.hc-tag:before {
    content: "\ea20";
}
.hc-tag2:before {
    content: "\ea21";
}
.hc-tags:before {
    content: "\ea22";
}
.hc-tags2:before {
    content: "\ea23";
}
.hc-tag-add:before {
    content: "\ea24";
}
.hc-tag-add2:before {
    content: "\ea25";
}
.hc-tag-remove:before {
    content: "\ea26";
}
.hc-tag-remove2:before {
    content: "\ea27";
}
.hc-tag-checked:before {
    content: "\ea28";
}
.hc-tag-checked2:before {
    content: "\ea29";
}
.hc-tag-cancel:before {
    content: "\ea2a";
}
.hc-tag-cancel2:before {
    content: "\ea2b";
}
.hc-paperclip:before {
    content: "\ea2c";
}
.hc-paperclip2:before {
    content: "\ea2d";
}
.hc-basketball:before {
    content: "\ea2e";
}
.hc-basketball2:before {
    content: "\ea2f";
}
.hc-baseball:before {
    content: "\ea30";
}
.hc-baseball2:before {
    content: "\ea31";
}
.hc-tennis-ball:before {
    content: "\ea32";
}
.hc-tennis-ball2:before {
    content: "\ea33";
}
.hc-bowling-ball:before {
    content: "\ea34";
}
.hc-bowling-ball2:before {
    content: "\ea35";
}
.hc-billiard-ball:before {
    content: "\ea36";
}
.hc-billiard-ball2:before {
    content: "\ea37";
}
.hc-soccer-ball:before {
    content: "\ea38";
}
.hc-soccer-ball2:before {
    content: "\ea39";
}
.hc-soccer-court:before {
    content: "\ea3a";
}
.hc-soccer-court2:before {
    content: "\ea3b";
}
.hc-football:before {
    content: "\ea3c";
}
.hc-football2:before {
    content: "\ea3d";
}
.hc-football3:before {
    content: "\ea3e";
}
.hc-football4:before {
    content: "\ea3f";
}
.hc-basketball3:before {
    content: "\ea40";
}
.hc-basketball4:before {
    content: "\ea41";
}
.hc-baseball-set:before {
    content: "\ea42";
}
.hc-baseball-set2:before {
    content: "\ea43";
}
.hc-tennis-ball3:before {
    content: "\ea44";
}
.hc-tennis-ball4:before {
    content: "\ea45";
}
.hc-trophy:before {
    content: "\ea46";
}
.hc-trophy2:before {
    content: "\ea47";
}
.hc-trophy-one:before {
    content: "\ea48";
}
.hc-trophy-one2:before {
    content: "\ea49";
}
.hc-trophy3:before {
    content: "\ea4a";
}
.hc-trophy4:before {
    content: "\ea4b";
}
.hc-medal:before {
    content: "\ea4c";
}
.hc-medal2:before {
    content: "\ea4d";
}
.hc-medal3:before {
    content: "\ea4e";
}
.hc-medal4:before {
    content: "\ea4f";
}
.hc-weights:before {
    content: "\ea50";
}
.hc-weights2:before {
    content: "\ea51";
}
.hc-tennis-racket:before {
    content: "\ea52";
}
.hc-tennis-racket2:before {
    content: "\ea53";
}
.hc-basketball-hoop:before {
    content: "\ea54";
}
.hc-basketball-hoop2:before {
    content: "\ea55";
}
.hc-table-tennis:before {
    content: "\ea56";
}
.hc-table-tennis2:before {
    content: "\ea57";
}
.hc-volleyball:before {
    content: "\ea58";
}
.hc-volleyball2:before {
    content: "\ea59";
}
.hc-stop-watch:before {
    content: "\ea5a";
}
.hc-stop-watch2:before {
    content: "\ea5b";
}
.hc-stop-watch3:before {
    content: "\ea5c";
}
.hc-stop-watch4:before {
    content: "\ea5d";
}
.hc-hockey-stick:before {
    content: "\ea5e";
}
.hc-hockey-stick2:before {
    content: "\ea5f";
}
.hc-hockey-sticks:before {
    content: "\ea60";
}
.hc-hockey-sticks2:before {
    content: "\ea61";
}
.hc-shuttlecock:before {
    content: "\ea62";
}
.hc-shuttlecock2:before {
    content: "\ea63";
}
.hc-golf:before {
    content: "\ea64";
}
.hc-golf2:before {
    content: "\ea65";
}
.hc-move:before {
    content: "\ea66";
}
.hc-move2:before {
    content: "\ea67";
}
.hc-clipboard-move:before {
    content: "\ea68";
}
.hc-clipboard-move2:before {
    content: "\ea69";
}
.hc-award:before {
    content: "\ea6a";
}
.hc-award2:before {
    content: "\ea6b";
}
.hc-award3:before {
    content: "\ea6c";
}
.hc-award4:before {
    content: "\ea6d";
}
.hc-award5:before {
    content: "\ea6e";
}
.hc-award6:before {
    content: "\ea6f";
}
.hc-award7:before {
    content: "\ea70";
}
.hc-award8:before {
    content: "\ea71";
}
.hc-medal5:before {
    content: "\ea72";
}
.hc-medal6:before {
    content: "\ea73";
}
.hc-medal7:before {
    content: "\ea74";
}
.hc-medal8:before {
    content: "\ea75";
}
.hc-boxing-glove:before {
    content: "\ea76";
}
.hc-boxing-glove2:before {
    content: "\ea77";
}
.hc-whistle:before {
    content: "\ea78";
}
.hc-whistle2:before {
    content: "\ea79";
}
.hc-volleyball-water:before {
    content: "\ea7a";
}
.hc-volleyball-water2:before {
    content: "\ea7b";
}
.hc-checkered-flag:before {
    content: "\ea7c";
}
.hc-checkered-flag2:before {
    content: "\ea7d";
}
.hc-target-arrow:before {
    content: "\ea7e";
}
.hc-target-arrow2:before {
    content: "\ea7f";
}
.hc-target:before {
    content: "\ea80";
}
.hc-target2:before {
    content: "\ea81";
}
.hc-sailing-boat:before {
    content: "\ea82";
}
.hc-sailing-boat2:before {
    content: "\ea83";
}
.hc-sailing-boat-water:before {
    content: "\ea84";
}
.hc-sailing-boat-water2:before {
    content: "\ea85";
}
.hc-bowling-pins:before {
    content: "\ea86";
}
.hc-bowling-pins2:before {
    content: "\ea87";
}
.hc-bowling-pin-ball:before {
    content: "\ea88";
}
.hc-bowling-pin-ball2:before {
    content: "\ea89";
}
.hc-diving-goggles:before {
    content: "\ea8a";
}
.hc-diving-goggles2:before {
    content: "\ea8b";
}
.hc-sports-shoe:before {
    content: "\ea8c";
}
.hc-sports-shoe2:before {
    content: "\ea8d";
}
.hc-soccer-shoe:before {
    content: "\ea8e";
}
.hc-soccer-shoe2:before {
    content: "\ea8f";
}
.hc-ice-skate:before {
    content: "\ea90";
}
.hc-ice-skate2:before {
    content: "\ea91";
}
.hc-cloud3:before {
    content: "\ea92";
}
.hc-cloud4:before {
    content: "\ea93";
}
.hc-cloud-sun:before {
    content: "\ea94";
}
.hc-cloud-sun2:before {
    content: "\ea95";
}
.hc-cloud-moon:before {
    content: "\ea96";
}
.hc-cloud-moon2:before {
    content: "\ea97";
}
.hc-cloud-rain:before {
    content: "\ea98";
}
.hc-cloud-rain2:before {
    content: "\ea99";
}
.hc-cloud-sun-rain:before {
    content: "\ea9a";
}
.hc-cloud-sun-rain2:before {
    content: "\ea9b";
}
.hc-cloud-moon-rain:before {
    content: "\ea9c";
}
.hc-cloud-moon-rain2:before {
    content: "\ea9d";
}
.hc-cloud-snow:before {
    content: "\ea9e";
}
.hc-cloud-snow2:before {
    content: "\ea9f";
}
.hc-cloud-sun-snow:before {
    content: "\eaa0";
}
.hc-cloud-sun-snow2:before {
    content: "\eaa1";
}
.hc-cloud-moon-snow:before {
    content: "\eaa2";
}
.hc-cloud-moon-snow2:before {
    content: "\eaa3";
}
.hc-cloud-lightning:before {
    content: "\eaa4";
}
.hc-cloud-lightning2:before {
    content: "\eaa5";
}
.hc-cloud-sun-lightning:before {
    content: "\eaa6";
}
.hc-cloud-sun-lightning2:before {
    content: "\eaa7";
}
.hc-cloud-moon-lightning:before {
    content: "\eaa8";
}
.hc-cloud-moon-lightning2:before {
    content: "\eaa9";
}
.hc-cloud-wind:before {
    content: "\eaaa";
}
.hc-cloud-wind2:before {
    content: "\eaab";
}
.hc-cloud-raindrops:before {
    content: "\eaac";
}
.hc-cloud-raindrops2:before {
    content: "\eaad";
}
.hc-cloud-sun-raindrops:before {
    content: "\eaae";
}
.hc-cloud-sun-raindrops2:before {
    content: "\eaaf";
}
.hc-cloud-moon-raindrops:before {
    content: "\eab0";
}
.hc-cloud-moon-raindrops2:before {
    content: "\eab1";
}
.hc-cloud-snowflakes:before {
    content: "\eab2";
}
.hc-cloud-snowflakes2:before {
    content: "\eab3";
}
.hc-cloud-sun-snowflakes:before {
    content: "\eab4";
}
.hc-cloud-sun-snowflakes2:before {
    content: "\eab5";
}
.hc-cloud-moon-snowflakes:before {
    content: "\eab6";
}
.hc-cloud-moon-snowflakes2:before {
    content: "\eab7";
}
.hc-clouds:before {
    content: "\eab8";
}
.hc-clouds2:before {
    content: "\eab9";
}
.hc-cloud-add:before {
    content: "\eaba";
}
.hc-cloud-add2:before {
    content: "\eabb";
}
.hc-cloud-remove:before {
    content: "\eabc";
}
.hc-cloud-remove2:before {
    content: "\eabd";
}
.hc-cloud-error3:before {
    content: "\eabe";
}
.hc-cloud-error4:before {
    content: "\eabf";
}
.hc-cloud-fog:before {
    content: "\eac0";
}
.hc-cloud-fog2:before {
    content: "\eac1";
}
.hc--cloud-sun-fog:before {
    content: "\eac2";
}
.hc--cloud-sun-fog2:before {
    content: "\eac3";
}
.hc-cloud-moon-fog:before {
    content: "\eac4";
}
.hc-cloud-moon-fog2:before {
    content: "\eac5";
}
.hc-moon-stars:before {
    content: "\eac6";
}
.hc-moon-stars2:before {
    content: "\eac7";
}
.hc-moon:before {
    content: "\eac8";
}
.hc-moon2:before {
    content: "\eac9";
}
.hc-sun:before {
    content: "\eaca";
}
.hc-sun2:before {
    content: "\eacb";
}
.hc-sunrise:before {
    content: "\eacc";
}
.hc-sunrise2:before {
    content: "\eacd";
}
.hc-sunset:before {
    content: "\eace";
}
.hc-sunset2:before {
    content: "\eacf";
}
.hc-sunset3:before {
    content: "\ead0";
}
.hc-sunset4:before {
    content: "\ead1";
}
.hc-sunset5:before {
    content: "\ead2";
}
.hc-sunset6:before {
    content: "\ead3";
}
.hc-rainbow:before {
    content: "\ead4";
}
.hc-rainbow2:before {
    content: "\ead5";
}
.hc-umbrella:before {
    content: "\ead6";
}
.hc-umbrella2:before {
    content: "\ead7";
}
.hc-raindrops:before {
    content: "\ead8";
}
.hc-raindrops2:before {
    content: "\ead9";
}
.hc-raindrop:before {
    content: "\eada";
}
.hc-raindrop2:before {
    content: "\eadb";
}
.hc-sunglasses:before {
    content: "\eadc";
}
.hc-sunglasses2:before {
    content: "\eadd";
}
.hc-stars:before {
    content: "\eade";
}
.hc-stars2:before {
    content: "\eadf";
}
.hc-clouds3:before {
    content: "\eae0";
}
.hc-clouds4:before {
    content: "\eae1";
}
.hc-moonrise:before {
    content: "\eae2";
}
.hc-moonrise2:before {
    content: "\eae3";
}
.hc-moonset:before {
    content: "\eae4";
}
.hc-moonset2:before {
    content: "\eae5";
}
.hc-wind:before {
    content: "\eae6";
}
.hc-wind2:before {
    content: "\eae7";
}
.hc-full-moon:before {
    content: "\eae8";
}
.hc-full-moon2:before {
    content: "\eae9";
}
.hc-crescent:before {
    content: "\eaea";
}
.hc-crescent2:before {
    content: "\eaeb";
}
.hc-half-moon:before {
    content: "\eaec";
}
.hc-half-moon2:before {
    content: "\eaed";
}
.hc-gibbous-moon:before {
    content: "\eaee";
}
.hc-gibbous-moon2:before {
    content: "\eaef";
}
.hc-moon3:before {
    content: "\eaf0";
}
.hc-moon4:before {
    content: "\eaf1";
}
.hc-gibbous-moon3:before {
    content: "\eaf2";
}
.hc-gibbous-moon4:before {
    content: "\eaf3";
}
.hc-half-moon3:before {
    content: "\eaf4";
}
.hc-half-moon4:before {
    content: "\eaf5";
}
.hc-crescent3:before {
    content: "\eaf6";
}
.hc-crescent4:before {
    content: "\eaf7";
}
.hc-barometer:before {
    content: "\eaf8";
}
.hc-barometer2:before {
    content: "\eaf9";
}
.hc-compass-north:before {
    content: "\eafa";
}
.hc-compass-north2:before {
    content: "\eafb";
}
.hc-compass-west:before {
    content: "\eafc";
}
.hc-compass-west2:before {
    content: "\eafd";
}
.hc-compass-east:before {
    content: "\eafe";
}
.hc-compass-east2:before {
    content: "\eaff";
}
.hc-compass-south:before {
    content: "\eb00";
}
.hc-compass-south2:before {
    content: "\eb01";
}
.hc-air-sock:before {
    content: "\eb02";
}
.hc-air-sock2:before {
    content: "\eb03";
}
.hc-tornado:before {
    content: "\eb04";
}
.hc-tornado2:before {
    content: "\eb05";
}
.hc-degree-fahrenheit:before {
    content: "\eb06";
}
.hc-degree-fahrenheit2:before {
    content: "\eb07";
}
.hc-degree-celsius:before {
    content: "\eb08";
}
.hc-degree-celsius2:before {
    content: "\eb09";
}
.hc-warning:before {
    content: "\eb0a";
}
.hc-warning2:before {
    content: "\eb0b";
}
.hc-compass:before {
    content: "\eb0c";
}
.hc-compass2:before {
    content: "\eb0d";
}
.hc-compass3:before {
    content: "\eb0e";
}
.hc-compass4:before {
    content: "\eb0f";
}
.hc-compass5:before {
    content: "\eb10";
}
.hc-compass6:before {
    content: "\eb11";
}
.hc-compass7:before {
    content: "\eb12";
}
.hc-compass8:before {
    content: "\eb13";
}
.hc-thermometer:before {
    content: "\eb14";
}
.hc-thermometer2:before {
    content: "\eb15";
}
.hc-thermometer-low:before {
    content: "\eb16";
}
.hc-thermometer-low2:before {
    content: "\eb17";
}
.hc-thermometer-quarter:before {
    content: "\eb18";
}
.hc-thermometer-quarter2:before {
    content: "\eb19";
}
.hc-thermometer-half:before {
    content: "\eb1a";
}
.hc-thermometer-half2:before {
    content: "\eb1b";
}
.hc-thermometer-three-quarters:before {
    content: "\eb1c";
}
.hc-thermometer-three-quarters2:before {
    content: "\eb1d";
}
.hc-thermometer-full:before {
    content: "\eb1e";
}
.hc-thermometer-full2:before {
    content: "\eb1f";
}
.hc-lightning:before {
    content: "\eb20";
}
.hc-lightning2:before {
    content: "\eb21";
}
.hc-wind-turbine:before {
    content: "\eb22";
}
.hc-wind-turbine2:before {
    content: "\eb23";
}
.hc-snowflake:before {
    content: "\eb24";
}
.hc-snowflake2:before {
    content: "\eb25";
}
.hc-middle-finger:before {
    content: "\eb26";
}
.hc-middle-finger2:before {
    content: "\eb27";
}
.hc-rock-n-roll:before {
    content: "\eb28";
}
.hc-rock-n-roll2:before {
    content: "\eb29";
}
.hc-high-five:before {
    content: "\eb2a";
}
.hc-high-five2:before {
    content: "\eb2b";
}
.hc-thumb-up:before {
    content: "\eb2c";
}
.hc-thumb-up2:before {
    content: "\eb2d";
}
.hc-thumb-down:before {
    content: "\eb2e";
}
.hc-thumb-down2:before {
    content: "\eb2f";
}
.hc-thumb-up3:before {
    content: "\eb30";
}
.hc-thumb-up4:before {
    content: "\eb31";
}
.hc-thumb-down3:before {
    content: "\eb32";
}
.hc-thumb-down4:before {
    content: "\eb33";
}
.hc-two-fingers-swipe-left:before {
    content: "\eb34";
}
.hc-two-fingers-swipe-left2:before {
    content: "\eb35";
}
.hc-two-fingers-swipe-right:before {
    content: "\eb36";
}
.hc-two-fingers-swipe-right2:before {
    content: "\eb37";
}
.hc-two-fingers-swipe-up:before {
    content: "\eb38";
}
.hc-two-fingers-swipe-up2:before {
    content: "\eb39";
}
.hc-two-fingers-swipe-down:before {
    content: "\eb3a";
}
.hc-two-fingers-swipe-down2:before {
    content: "\eb3b";
}
.hc-two-fingers:before {
    content: "\eb3c";
}
.hc-two-fingers2:before {
    content: "\eb3d";
}
.hc-three-fingers-double-tap:before {
    content: "\eb3e";
}
.hc-three-fingers-double-tap2:before {
    content: "\eb3f";
}
.hc-two-fingers-resize-out:before {
    content: "\eb40";
}
.hc-two-fingers-resize-out2:before {
    content: "\eb41";
}
.hc-two-fingers-resize-in:before {
    content: "\eb42";
}
.hc-two-fingers-resize-in2:before {
    content: "\eb43";
}
.hc-two-fingers-rotate:before {
    content: "\eb44";
}
.hc-two-fingers-rotate2:before {
    content: "\eb45";
}
.hc-one-finger-swipe-left:before {
    content: "\eb46";
}
.hc-one-finger-swipe-left2:before {
    content: "\eb47";
}
.hc-one-finger-swipe-right:before {
    content: "\eb48";
}
.hc-one-finger-swipe-right2:before {
    content: "\eb49";
}
.hc-one-finger-swipe-up:before {
    content: "\eb4a";
}
.hc-one-finger-swipe-up2:before {
    content: "\eb4b";
}
.hc-one-finger-swipe-down:before {
    content: "\eb4c";
}
.hc-one-finger-swipe-down2:before {
    content: "\eb4d";
}
.hc-one-finger:before {
    content: "\eb4e";
}
.hc-one-finger2:before {
    content: "\eb4f";
}
.hc-one-finger-double-tap:before {
    content: "\eb50";
}
.hc-one-finger-double-tap2:before {
    content: "\eb51";
}
.hc-one-finger-tap:before {
    content: "\eb52";
}
.hc-one-finger-tap2:before {
    content: "\eb53";
}
.hc-one-finger-tap-hold:before {
    content: "\eb54";
}
.hc-one-finger-tap-hold2:before {
    content: "\eb55";
}
.hc-thumb-finger-tap:before {
    content: "\eb56";
}
.hc-thumb-finger-tap2:before {
    content: "\eb57";
}
.hc-one-finger-click:before {
    content: "\eb58";
}
.hc-one-finger-click2:before {
    content: "\eb59";
}
.hc-three-fingers-swipe-left:before {
    content: "\eb5a";
}
.hc-three-fingers-swipe-left2:before {
    content: "\eb5b";
}
.hc-three-fingers-swipe-right:before {
    content: "\eb5c";
}
.hc-three-fingers-swipe-right2:before {
    content: "\eb5d";
}
.hc-three-fingers-swipe-up:before {
    content: "\eb5e";
}
.hc-three-fingers-swipe-up2:before {
    content: "\eb5f";
}
.hc-three-fingers-swipe-down:before {
    content: "\eb60";
}
.hc-three-fingers-swipe-down2:before {
    content: "\eb61";
}
.hc-three-fingers:before {
    content: "\eb62";
}
.hc-three-fingers2:before {
    content: "\eb63";
}
.hc-three-fingers-double-tap3:before {
    content: "\eb64";
}
.hc-three-fingers-double-tap4:before {
    content: "\eb65";
}
.hc-two-fingers-swipe-up3:before {
    content: "\eb66";
}
.hc-two-fingers-swipe-up4:before {
    content: "\eb67";
}
.hc-one-finger-double-tap3:before {
    content: "\eb68";
}
.hc-one-finger-double-tap4:before {
    content: "\eb69";
}
.hc-two-fingers-swipe-down3:before {
    content: "\eb6a";
}
.hc-two-fingers-swipe-down4:before {
    content: "\eb6b";
}
.hc-two-fingers-swipe-right3:before {
    content: "\eb6c";
}
.hc-two-fingers-swipe-right4:before {
    content: "\eb6d";
}
.hc-two-fingers-swipe-left3:before {
    content: "\eb6e";
}
.hc-two-fingers-swipe-left4:before {
    content: "\eb6f";
}
.hc-one-finger-tap3:before {
    content: "\eb70";
}
.hc-one-finger-tap4:before {
    content: "\eb71";
}
.hc-one-finger-tap-hold3:before {
    content: "\eb72";
}
.hc-one-finger-tap-hold4:before {
    content: "\eb73";
}
.hc-one-finger-click3:before {
    content: "\eb74";
}
.hc-one-finger-click4:before {
    content: "\eb75";
}
.hc-one-finger-swipe-horizontally:before {
    content: "\eb76";
}
.hc-one-finger-swipe-horizontally2:before {
    content: "\eb77";
}
.hc-one-finger-swipe:before {
    content: "\eb78";
}
.hc-one-finger-swipe2:before {
    content: "\eb79";
}
.hc-two-fingers-double-tap:before {
    content: "\eb7a";
}
.hc-two-fingers-double-tap2:before {
    content: "\eb7b";
}
.hc-two-fingers-tap:before {
    content: "\eb7c";
}
.hc-two-fingers-tap2:before {
    content: "\eb7d";
}
.hc-one-finger-swipe-left3:before {
    content: "\eb7e";
}
.hc-one-finger-swipe-left4:before {
    content: "\eb7f";
}
.hc-one-finger-swipe-right3:before {
    content: "\eb80";
}
.hc-one-finger-swipe-right4:before {
    content: "\eb81";
}
.hc-one-finger-swipe-up3:before {
    content: "\eb82";
}
.hc-one-finger-swipe-up4:before {
    content: "\eb83";
}
.hc-one-finger-swipe-down3:before {
    content: "\eb84";
}
.hc-one-finger-swipe-down4:before {
    content: "\eb85";
}

